[submodule "STAMINA/PRISM"]
	path = stamina-prism
	url = git@github.com:fluentverification/stamina-prism.git

[submodule "STAMINA/STORM"]
	path = stamina-storm
	url = git@github.com:fluentverification/stamina-storm.git
