[submodule "stamina-prism"]
	path = stamina-prism
	url = ../../fluentverification/stamina-prism.git
	branch = main
[submodule "stamina-storm"]
	path = stamina-storm
	url = ../../fluentverification/stamina-storm.git
	branch = main
