[submodule "stamina-prism"]
	path = stamina-prism
	url = https://github.com/fluentverification/stamina-prism
	branch = master
[submodule "stamina-storm"]
	path = stamina-storm
	url = https://github.com/fluentverification/stamina-storm
	branch = master
